
.sombra{box-shadow: 2px 0px 3px 1px #777;}

.bg-light {
    background-color: var(--color-light)!important;
}

.contact-form{
    padding: 2rem 4rem;
}

.registro-bg {
    background-image: url('imagen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
}

.btn{
    width:100%;
}

